In [103]:
#importer les librairies
import pandas as pd
import numpy as np
import matplotlib as plt
from pandas_profiling import ProfileReport

In [104]:
#impoter le dataset train
train = pd.read_csv('train.csv')
#renommer la colonne Unnamed en index
train.rename(columns={'Unnamed: 0': 'index'}, inplace =True)
#indexer la colonne index
train.set_index('index',inplace=True)

In [105]:
#afficher les 3 premieres lignes du train
train.head(3)

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,sex,status_matrimonial,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
index,,,,,,,,,,,,,,,,,,,,,
942,no checking,18,critical/other existing credit,radio/tv,1169,no known savings,1<=X<4,4,male,single,...,life insurance,29,none,own,2,skilled,1,yes,yes,good
202,no checking,9,existing paid,furniture/equipment,1980,<100,<1,2,female,div/dep/mar,...,car,19,none,rent,2,skilled,1,none,yes,bad
141,0<=X<200,12,existing paid,furniture/equipment,3017,<100,<1,3,female,div/dep/mar,...,real estate,34,none,rent,1,high qualif/self emp/mgmt,1,none,yes,good

In [106]:
#liste des variables catégorielles et numériques

cat = ['credit_hystory','purpose','savings_status','sex','status_matrimonial','other_parties','property_magnitude','other_payment_plans','housing','job','own_telephone','foreign_worker','class']
num = ['checking_status','duration','credit_amount','installment_commitment','residence_since','employment','age','existing_credits','num_dependents']

In [107]:
cat

['credit_hystory',
 'purpose',
 'savings_status',
 'sex',
 'status_matrimonial',
 'other_parties',
 'property_magnitude',
 'other_payment_plans',
 'housing',
 'job',
 'own_telephone',
 'foreign_worker',
 'class']

In [108]:
num

['checking_status',
 'duration',
 'credit_amount',
 'installment_commitment',
 'residence_since',
 'employment',
 'age',
 'existing_credits',
 'num_dependents']

In [109]:
#visualisation des données avec pandas_profiling
prof = ProfileReport(train)
prof.to_file(output_file='rapport.html')

HBox(children=(HTML(value='Summarize dataset'), FloatProgress(value=0.0, max=36.0), HTML(value='')))

HBox(children=(HTML(value='Generate report structure'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Render HTML'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

HBox(children=(HTML(value='Export report to file'), FloatProgress(value=0.0, max=1.0), HTML(value='')))

In [110]:
#nettoyage des données en retirant les valeurs manquantes et les nulled dans le train

#cherchons tout d'abord les valeurs nulles dans notre dataset train en affichant
train.isnull().sum()

#on remarque qu'il n'y a pas de valeurs nulles mais que faire si il survient des valeurs nulles alors?
#imputation numérique. Ici on remplacera la valeur manquante par la moyenne des valeurs de la colonne
train.fillna(train.mean())
#imputation catégorielle. Ici on remplacera la valeur manquante par la valeur qui se repète le plus
train.fillna(train.mode())

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,sex,status_matrimonial,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
index,,,,,,,,,,,,,,,,,,,,,
942,no checking,18,critical/other existing credit,radio/tv,1169,no known savings,1<=X<4,4,male,single,...,life insurance,29,none,own,2,skilled,1,yes,yes,good
202,no checking,9,existing paid,furniture/equipment,1980,<100,<1,2,female,div/dep/mar,...,car,19,none,rent,2,skilled,1,none,yes,bad
141,0<=X<200,12,existing paid,furniture/equipment,3017,<100,<1,3,female,div/dep/mar,...,real estate,34,none,rent,1,high qualif/self emp/mgmt,1,none,yes,good
66,<0,24,existing paid,new car,915,no known savings,>=7,4,female,div/dep/mar,...,car,29,bank,own,1,skilled,1,none,yes,bad
370,0<=X<200,14,existing paid,business,1410,500<=X<1000,>=7,1,male,mar/wid,...,real estate,35,none,own,1,skilled,1,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,<0,12,existing paid,radio/tv,709,<100,>=7,4,male,single,...,real estate,57,stores,own,1,unskilled resident,1,none,yes,bad
967,no checking,10,existing paid,new car,1546,<100,1<=X<4,3,male,single,...,real estate,31,none,own,1,unskilled resident,2,none,no,good
894,<0,36,critical/other existing credit,used car,9629,<100,4<=X<7,4,male,single,...,car,24,none,own,2,skilled,1,yes,yes,bad
656,no checking,12,existing paid,business,1542,<100,4<=X<7,2,male,single,...,car,36,none,own,1,skilled,1,yes,yes,good
735,>=200,15,existing paid,business,2687,<100,4<=X<7,2,male,single,...,life insurance,26,none,rent,1,skilled,1,yes,yes,good

In [111]:
#commençcons par le traitement des variables catégorielles
cat

['credit_hystory',
 'purpose',
 'savings_status',
 'sex',
 'status_matrimonial',
 'other_parties',
 'property_magnitude',
 'other_payment_plans',
 'housing',
 'job',
 'own_telephone',
 'foreign_worker',
 'class']

In [112]:
#creer de nouvelles features plus comprehensible pour
#les variables catégorielles

train = train.replace(to_replace={'status_matrimonial': {'div/sep':'single','mar/wid':'widow','div/dep/mar':'other'}}, value = None)
train = train.replace(to_replace={'purpose': {'radio/tv':'devices','used car':'car','new car':'car','retrainig':'other','furniture/equipment':'accessory','domestical appliane':'others','repairs':'others'}}, value = None)
train = train.replace(to_replace={'savings_status':{'no known savings':'none','<100':'little','100<=X<500':'moderate','500<=X<1000':'rich','>1000':'quite rich'}}, value = None)
train = train.replace(to_replace={'job': {'unskilled resident':'unskilled','unemp/unskilled no res':'unskilled','high qualif/self emp/mgmt':'high qualif'}}, value = None)
train = train.replace(to_replace={'credit_history': {'critical/other existing credit':'critical'}}, value = None)

In [113]:
train

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,sex,status_matrimonial,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
index,,,,,,,,,,,,,,,,,,,,,
942,no checking,18,critical,devices,1169,none,1<=X<4,4,male,single,...,life insurance,29,none,own,2,skilled,1,yes,yes,good
202,no checking,9,existing paid,accessory,1980,little,<1,2,female,other,...,car,19,none,rent,2,skilled,1,none,yes,bad
141,0<=X<200,12,existing paid,accessory,3017,little,<1,3,female,other,...,real estate,34,none,rent,1,high qualif,1,none,yes,good
66,<0,24,existing paid,car,915,none,>=7,4,female,other,...,car,29,bank,own,1,skilled,1,none,yes,bad
370,0<=X<200,14,existing paid,business,1410,rich,>=7,1,male,widow,...,real estate,35,none,own,1,skilled,1,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,<0,12,existing paid,devices,709,little,>=7,4,male,single,...,real estate,57,stores,own,1,unskilled,1,none,yes,bad
967,no checking,10,existing paid,car,1546,little,1<=X<4,3,male,single,...,real estate,31,none,own,1,unskilled,2,none,no,good
894,<0,36,critical,car,9629,little,4<=X<7,4,male,single,...,car,24,none,own,2,skilled,1,yes,yes,bad
656,no checking,12,existing paid,business,1542,little,4<=X<7,2,male,single,...,car,36,none,own,1,skilled,1,yes,yes,good
735,>=200,15,existing paid,business,2687,little,4<=X<7,2,male,single,...,life insurance,26,none,rent,1,skilled,1,yes,yes,good

In [118]:
#traitement des variables numériques
#features plus comprehensible

train = train.replace(to_replace={'checking_status': {'no checking':0,'<0':0,'0<=X<200':100,'>=200':300}}, value = None)
train = train.replace(to_replace={'employment':{'<1':0,'1<=X<4':4,'4<=X<7':7,'>=7':8}}, value = None)

In [119]:
train

,checking_status,duration,credit_history,purpose,credit_amount,savings_status,employment,installment_commitment,sex,status_matrimonial,...,property_magnitude,age,other_payment_plans,housing,existing_credits,job,num_dependents,own_telephone,foreign_worker,class
index,,,,,,,,,,,,,,,,,,,,,
942,0,18,critical,devices,1169,none,4,4,male,single,...,life insurance,29,none,own,2,skilled,1,yes,yes,good
202,0,9,existing paid,accessory,1980,little,0,2,female,other,...,car,19,none,rent,2,skilled,1,none,yes,bad
141,100,12,existing paid,accessory,3017,little,0,3,female,other,...,real estate,34,none,rent,1,high qualif,1,none,yes,good
66,0,24,existing paid,car,915,none,8,4,female,other,...,car,29,bank,own,1,skilled,1,none,yes,bad
370,100,14,existing paid,business,1410,rich,8,1,male,widow,...,real estate,35,none,own,1,skilled,1,yes,yes,good
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
913,0,12,existing paid,devices,709,little,8,4,male,single,...,real estate,57,stores,own,1,unskilled,1,none,yes,bad
967,0,10,existing paid,car,1546,little,4,3,male,single,...,real estate,31,none,own,1,unskilled,2,none,no,good
894,0,36,critical,car,9629,little,7,4,male,single,...,car,24,none,own,2,skilled,1,yes,yes,bad
656,0,12,existing paid,business,1542,little,7,2,male,single,...,car,36,none,own,1,skilled,1,yes,yes,good
735,300,15,existing paid,business,2687,little,7,2,male,single,...,life insurance,26,none,rent,1,skilled,1,yes,yes,good

In [120]:
train.to_csv('trainclean1.csv')